extends layout

block content
  img.page-logo(src='/assets/berries.svg')
  h1.profile-header= profile.username
  .avatar-icon.avatar-icon--xl
    img(src=`/assets/avatars/${profile.favorite_fruit}.svg`)
  .user-stats
    h2 Profile
    .user-stats__entry
      strong Favorite fruit:
      span= profile.favorite_fruit
    .user-stats__entry
      strong Messages sent: 
      span= profile.messages_sent
    .user-stats__entry
      strong Last login: 
      span= profile.last_login.toDateString()
  .links
    if user
      if user.username != profile.username
        a.button.button--primary(href='/profile') View my profile
      a.button.button--primary(href='/chat') Enter chatroom 
      if user.username = profile.username
        a.button.button--secondary(href='/logout') Logout
    else
      a.button.button--secondary(href='/') Login / Register
    
